<fieldset>
  <legend>{{content.name}}</legend>

  <div class="hint">{{content.opts.info}}</div>

  {{#each content.choices}}
    {{view App.BooleanParamView contentBinding="this"}}
  {{/each}}
</fieldset>
