{{#if App.WizardView.filterIsRelevant}}
  <nav class="nav nav-pills category-filter">
  {{#each App.categoryController.categories}}
    {{view App.CategoryView contentBinding="this"}}
  {{/each}}
  {{view App.SearchBoxView id="searchbox" }}
  </nav>
{{/if}}
