doctype 5
html
  head
    title appdroneapp
    = stylesheet_link_tag    'application', media: 'all'
    - stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Exo'
    = javascript_include_tag 'application', debug: false
    = javascript_include_tag 'ember/appdroneapp' if @ember
    = csrf_meta_tags

  body class=controller_name
    #root
      .header
        .container
          .row
            .span8.offset2
              h2
                strong AppDrone: 
                span.light = pluralize(AppTemplate.all.count,'template') + ' served.'
          .row
            .span8.offset2#mainNav
              = yield :main_nav

      .container
        .row
          #content.span8.offset2
            br
            = yield

            
      #root_footer

    #footer
      .container
        .row
          .span8.offset2 style='padding-top:15px'
            - gemspec = Gem.loaded_specs['app_drone']
            strong = gemspec.name
            | &mdash;
            = gemspec.version
            .pull-right
              i.icon-github-sign
              | &nbsp;&nbsp;
              = link_to 'jeriko', 'https://github.com/jeriko'
          
